<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe House - Contact Info.</title>
    <link rel="shortcut icon" href="../content/assets/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../content/style/abstract/brands.min.css" />
    <link rel="stylesheet" href="../content/style/abstract/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/style/main.css" />
    <script
        src='https://embedmaps.com/google-maps-authorization/script.js?id=eecd0cd46f033656ec4a41bdc67ff05eccd97d8f'></script>
</head>

<body>
    <!-- start loader  -->
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section loader-left"></div>
        <div class="loader-section loader-right"></div>
    </div>
    <!--  end loader -->
    <!-- start header tag -->
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../content/assets/img/logo.png" alt="logo" class="d-inline-block align-top" />
                    <span>Cafe House</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./todySpecial.html">Today Special</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./menu.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="main-header__welcome-container">
            <div class="container">
                <div class="position-relative">
                    <div class="welcome-container__light-container">
                        <img src="../content/assets/img/light.png" alt="light" />
                        <img src="../content/assets/img/light.png" alt="light" />
                        <img src="../content/assets/img/light.png" alt="light" />
                    </div>
                </div>
                <div class="welcome-container__welcome-message">
                    <div class="welcome-message-header d-flex justify-content-center align-items-center">
                        <img src="../content/assets/img/header-line.png" alt="header" />
                        <h1 class="white-text">Contact Us</h1>
                        <img src="../content/assets/img/header-line.png" alt="header" />
                    </div>
                    <h2 class="gold-text">Cafe House</h2>
                    <p>
                        Cafe House template is a mobile-friendly responsive
                        <span class="gold-text">Bootstrap v3.3.5</span> layout by
                        <a rel="nofollow" href="#">
                            <span class="gold-text">templatemo</span></a>. Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                        Aenean commodo ligula eget dolor . Aenean massa. Cum sociis
                        natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium
                        quis, sem.
                    </p>
                    <a href="#" class="btn--details gold-text btn-welcome">Details</a>
                </div>
                <div class="welcome-container__table">
                    <img src="../content/assets/img/table-set.png" alt="table-set" class="img-fluid" />
                </div>
            </div>
        </div>
    </header>
    <!-- end header tag -->
    <!-- start section tag -->
    <section class="main-section light-gr-bg pt-170 pb-60">
        <div class="container">
            <div class="row">
                <h2 class="col-lg-12 mb-30">Send us a message</h2>
                <div class="col-lg-6 col-md-6">
                    <form article="#" class="contact-form">
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nema"
                                placeholder="NAME" />
                        </div>
                        <div class="form-group mb-3">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email"
                                placeholder="EMAIL" />
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="exampleInputSubject" aria-describedby="subject"
                                placeholder="SUBJECT" />
                        </div>
                        <div class="form-group mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                                placeholder="MESSAGE"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" name="submit" class="btn more-btn gold-text">
                                Send massage
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div style="width: 100%; height: 350px">
                        <iframe width="452" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            id="gmap_canvas"
                            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20+(Cairo)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                        <a href='https://www.symptoma.ae/ar/info/covid-19#info'>كوفيد-19</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section tag -->
    <!-- start footer -->
    <footer class="footer-about bt-5">
        <div class="footer-about__block-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 footer-about__main-menu">
                        <h3 class="footer-about__title">Main Menu</h3>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Directory</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Our Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-5 footer-about__us">
                        <h3 class="footer-about__title title--text">About Us</h3>
                        <p class="mt-4">
                            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
                            tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                        <p class="mt-2">
                            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                            lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae
                            sapien ut libero venenatis faucibus.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 footer-about__get-social">
                        <h3 class="footer-about__title title--text">Get Social</h3>
                        <p class="mt-4">
                            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                            enim. Aliquam lorem ante.
                        </p>
                        <div class="footer-about__icons__container mt-3">
                            <a hero="#" class="icons__container">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="text-center small mt-4 mb-4">
                Copyright © 2084 Your Cafe House. Design:
                <a rel="nofollow" href="#">template mo</a>
            </p>
        </div>
    </footer>
    <!-- end footer -->
    <script src="../content/js/absteact/bootstrap.bundle.min.js"></script>
    <script src="../content/js/absteact/all.min.js"></script>
    <script src="../content/js/script.js"></script>
</body>

</html>