<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cafe House</title>
  <link rel="shortcut icon" href="../content/assets/img/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../content/style/abstract/brands.min.css" />
  <link rel="stylesheet" href="../content/style/abstract/bootstrap.min.css" />
  <link rel="stylesheet" href="../content/style/main.css" />
</head>

<body>
  <!-- start loader  -->
  <div class="loader-wrapper">
    <div class="loader"></div>
    <div class="loader-section loader-left"></div>
    <div class="loader-section loader-right"></div>
  </div>
  <!--  end loader -->
  <!-- start header  -->
  <header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../content/assets/img/logo.png" alt="logo" class="d-inline-block align-top" />
          <span>Cafe House</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./todySpecial.html">Today Special</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./menu.html">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./contact.html">Contact</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <div class="main-header__welcome-container">
      <div class="container">
        <div class="position-relative">
          <div class="welcome-container__light-container">
            <img src="../content/assets/img/light.png" alt="light" />
            <img src="../content/assets/img/light.png" alt="light" />
            <img src="../content/assets/img/light.png" alt="light" />
          </div>

        </div>
        <div class="welcome-container__welcome-message">
          <div class="welcome-message-header d-flex justify-content-center align-items-center">
            <img src="../content/assets/img/header-line.png" alt="header" />
            <h1 class="white-text">Welcome To</h1>
            <img src="../content/assets/img/header-line.png" alt="header" />
          </div>
          <h2 class="gold-text">Cafe House</h2>
          <p>
            Cafe House template is a mobile-friendly responsive
            <span class="gold-text">Bootstrap v3.3.5</span> layout by
            <a rel="nofollow" href="#">
              <span class="gold-text">templatemo</span></a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor . Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem.
          </p>
          <a href="#" class=" btn--details gold-text btn-welcome">Details</a>
        </div>
        <div class="welcome-container__table ">
          <img src="../content/assets/img/table-set.png" alt="table-set" class="img-fluid" />
        </div>
      </div>
    </div>
  </header>
  <!-- end header  -->
  <!-- start cafe-house  -->
  <section class="cafe-house light-gr-bg pt-170 pb-60">
    <div class="container">
      <div class="row">
        <article class="col-lg-9 col-md-9 col-sm-8">
          <h2 class="gold-text handwriting-font">
            The Best Coffee for you
          </h2>
          <h3>Cafe House</h3>
          <p class="welcome-description">
            This is free HTML5 website template from
            <span class="blue-text">template</span>
            <span class="green-text">mo</span>.
            Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing
            sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
            hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae
            sapien ut libero venenatis faucibus. Ettiam sit amet orci eget
            eros faucibus tincidunt.
          </p>
          <a href="#" class="more-btn mt-30 gold-text">Read More</a>
        </article>
        <div class="col-lg-3 col-md-3 col-sm-4 cafe-house__text-end">
          <div class="d-inline-block shadow-img">
            <img src="../content/assets/img/1.jpg" alt="" class="img-thumbnail rounded-circle" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end cafe-house  -->
  <!-- start popular-items  -->
  <section class="popular-items light-gr-bg pb-60">
    <div class='container'>
      <h2 class='gold-text mb-5'>
        <img src='../content/assets/img/logo.png' alt="logo" />
        Popular Items
      </h2>
      <div class='row'>
        <div class='col-lg-4 col-md-6 col-sm-6'>
          <div class='card popular-items__card'>
            <img src='../content/assets/img/popular-1.jpg' alt='popular'
              class='card-img-top popular-items__card__image' />
            <div class='card-body popular-items__card__container'>
              <h3 class='card-title popular-items__card__title'>
                <span>a</span>
                mericano
              </h3>
              <p class='card-text popular-items__card__info'>
                Maecenas tempus, tellus eget condimentum rhoncus,
                sem quam semper libero, sit amet adipiscing
                sem neque. sed ipsum.
              </p>
              <div class="popular-items__card__link">
                <a href="#">
                  Order Now
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class='col-lg-4 col-md-6 col-sm-6 '>
          <div class='card popular-items__card'>
            <img src='../content/assets/img/popular-2.jpg' alt='popular'
              class='card-img-top popular-items__card__image' />
            <div class='card-body popular-items__card__container'>
              <h3 class='card-title popular-items__card__title'>
                <span>c</span>
                appuccino
              </h3>
              <p class='card-text popular-items__card__info'>
                Maecenas tempus, tellus eget condimentum rhoncus,
                sem quam semper libero, sit amet adipiscing
                sem neque. sed ipsum.
              </p>
              <div class="popular-items__card__link">
                <a href="#">
                  Order Now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-4 col-md-12 col-sm-12'>
          <div class='card popular-items__card'>
            <img src='../content/assets/img/popular-3.jpg' alt='popular'
              class='card-img-top popular-items__card__image' />
            <div class='card-body popular-items__card__container'>
              <h3 class='card-title popular-items__card__title'>
                <span>m</span>
                ocha
              </h3>
              <p class='card-text popular-items__card__info'>
                Maecenas tempus, tellus eget condimentum rhoncus,
                sem quam semper libero, sit amet adipiscing
                sem neque. sed ipsum.
              </p>
              <div class="popular-items__card__link">
                <a href="#">
                  Order Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end popular-items  -->
  <!-- start today-special  -->
  <section class="today-special light-gr-bg pb-60 bt-5">
    <div class="container">
      <h2 class="gold-text">
        <img src=" ../content/assets/img/logo.png" alt="logo" />
        Today's Special
      </h2>
      <div class="row  mt-5">
        <div class="col-lg-12 col-md-7 col-sm-7 today-special__group">
          <div class="today-special__card">
            <div class="card text-white">
              <img src="../content/assets/img/special-1.jpg" alt="special-1" />
              <div class="today-special__card__container">
                <a href="#">
                  <h4 class="card-title">Donec pede justo</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </a>
              </div>
            </div>
          </div>
          <div class="today-special__card__right">
            <div class="today-special__card">
              <div class="card text-white">
                <img src="../content/assets/img/special-2.jpg" alt="special-1" />
                <div class="today-special__card__container">
                  <a href="#">
                    <h4 class="card-title">Etiam sit amet</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="today-special__card__right__bottom">
              <div class="today-special__card">
                <div class="card text-white">
                  <img src="../content/assets/img/special-3.jpg" alt="special-1" />
                  <div class="today-special__card__container">
                    <a href="#">
                      <p class="card-text">Vivamus elementum</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="today-special__card">
                <div class="card text-white">
                  <img src="../content/assets/img/special-4.jpg" alt="special-1" />
                  <div class="today-special__card__container">
                    <a href="#">
                      <p class="card-text">Quisque rutrum.</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- end today-special   -->
  <!-- start daily-menu   -->
  <section class="daily-menu light-gr-bg pb-60 bt-5">
    <div class="container">
      <h2 class="gold-text">
        <img src=" ../content/assets/img/logo.png" alt="logo" />
        Daily Menu
      </h2>
      <div class="daily-menu__container pt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <img src='../content/assets/img/menu-board.png' alt='menu-board' />
          </div>
          <div class="col-lg-8 col-md-8">
            <p>Phasellus viverra nulla ut metus varius laoreet.
              Quisque rutrum. Aenean imperdiet. Etiam ultricies
              nisi vel augue. Curabitur ullamcorper ultricies nisi.
              Nam eget dui. Etiam rhoncus.
            </p>
            <ol class="mt-4 pe-4">
              <li>Tellus eget condimentum rhoncus.</li>
              <li>Sem quam semper libero.</li>
              <li>Sit amet adipiscing sem neque sed ipsum.</li>
              <li>Nam quam nunc, blandit vel, luctus pulvinar.</li>
              <li>Maecenas nec odio et ante tincidunt tempus.</li>
              <li>Donec vitae sapien ut libero ventenatis faucibus.</li>
            </ol>
            <a href="#" class="daily-menu__more__btn mt-4">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end daily-menu  -->
  <!-- start footer -->
  <footer class="footer-about bt-5">
    <div class='footer-about__block-bg'>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 footer-about__main-menu">
            <h3 class="footer-about__title">Main Menu</h3>
            <ul>
              <li>
                <a href='#'>Home</a>
              </li>
              <li>
                <a href='#'>About Us</a>
              </li>
              <li>
                <a href='#'>Directory</a>
              </li>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li>
                <a href='#'>Our Services</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-5 col-md-5 footer-about__us">
            <h3 class="footer-about__title title--text">About Us</h3>
            <p class="mt-4">
              Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
              tellus. Phasellus viverra nulla ut metus varius laoreet.
            </p>
            <p class="mt-2">
              Nam quam nunc, blandit vel, luctus pulvinar,
              hendrerit id, lorem. Maecenas nec odio
              et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
          </div>
          <div class="col-lg-4 col-md-4 footer-about__get-social">
            <h3 class="footer-about__title title--text">Get Social</h3>
            <p class="mt-4">
              Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim. Aliquam lorem ante.
            </p>
            <div class="footer-about__icons__container mt-3">
              <a hero="#" class="icons__container">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a hero="#" class="icons__container">
                <i class="fab fa-twitter"></i>
              </a>
              <a hero="#" class="icons__container">
                <i class="fab fa-linkedin"></i>
              </a>
              <a hero="#" class="icons__container">
                <i class="fab fa-youtube"></i>
              </a>
              <a hero="#" class="icons__container">
                <i class="fab fa-behance"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="  text-center small mt-4 mb-4">
        Copyright © 2084 Your Cafe House.
        Design:
        <a rel="nofollow" href="#">template mo</a>
      </p>
    </div>
  </footer>
  <!-- end footer -->

  <script src="../content/js/absteact/bootstrap.bundle.min.js"></script>
  <script src="../content/js/absteact/all.min.js"></script>
  <script src="../content/js/script.js"></script>
</body>

</html>