<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe House - Food and Drink Menu</title>
    <link rel="shortcut icon" href="../content/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../content/style/abstract/brands.min.css" />
    <link rel="stylesheet" href="../content/style/abstract/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/style/main.css" />
</head>

<body>
    <!-- start loader  -->
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section loader-left"></div>
        <div class="loader-section loader-right"></div>
    </div>
    <!--  end loader -->
    <!-- start header tag -->
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../content/assets/img/logo.png" alt="logo" class="d-inline-block align-top" />
                    <span>Cafe House</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./todySpecial.html">Today Special</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./menu.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="main-header__welcome-container">
            <div class="container">
                <div class="position-relative">
                    <div class="welcome-container__light-container">
                        <img src="../content/assets/img/light.png" alt="light" />
                        <img src="../content/assets/img/light.png" alt="light" />
                        <img src="../content/assets/img/light.png" alt="light" />
                    </div>

                </div>
                <div class="welcome-container__welcome-message">
                    <div class="welcome-message-header d-flex justify-content-center align-items-center">
                        <img src="../content/assets/img/header-line.png" alt="header" />
                        <h1 class="white-text"> Our Menus </h1>
                        <img src="../content/assets/img/header-line.png" alt="header" />
                    </div>
                    <h2 class="gold-text">Cafe House</h2>
                    <p>
                        Cafe House template is a mobile-friendly responsive
                        <span class="gold-text">Bootstrap v3.3.5</span> layout by
                        <a rel="nofollow" href="#">
                            <span class="gold-text">templatemo</span></a>. Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                        Aenean commodo ligula eget dolor . Aenean massa. Cum sociis
                        natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium
                        quis, sem.
                    </p>
                    <a href="#" class=" btn--details gold-text btn-welcome">Details</a>
                </div>
                <div class="welcome-container__table ">
                    <img src="../content/assets/img/table-set.png" alt="table-set" class="img-fluid" />
                </div>
            </div>
        </div>
    </header>
    <!-- end header tag -->
    <!-- start cafe-house  -->
    <section class="cafe-house light-gr-bg pt-170 pb-60">
        <div class="container">
            <div class="row">
                <article class="col-lg-9 col-md-9 col-sm-8">
                    <h2 class="gold-text handwriting-font">
                        Variety of Menus
                    </h2>
                    <h3>Cafe House</h3>
                    <p class="welcome-description">
                        This is free HTML5 website template from
                        <span class="blue-text">template</span>
                        <span class="green-text">mo</span>.
                        Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing
                        sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
                        hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae
                        sapien ut libero venenatis faucibus. Ettiam sit amet orci eget
                        eros faucibus tincidunt.
                    </p>
                    <a href="#" class="more-btn mt-30 gold-text">Read More</a>
                </article>
                <div class="col-lg-3 col-md-3 col-sm-4 cafe-house__text-end">
                    <div class="d-inline-block shadow-img">
                        <img src="../content/assets/img/1.jpg" alt="" class="img-thumbnail rounded-circle" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cafe-house  -->
    <!-- start section tag -->
    <section class="menus-section light-gr-bg pb-60">
        <div class="container">

            <h2 class=" gold-text mb-5 ">
                <img src="../content//assets/img/logo.png" alt="" />
                Our Menus
            </h2>

            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="position-relative mb-30">
                        <div class="side-menu">
                            <ul>
                                <li><a href="#" class="active">Affogato</a></li>
                                <li><a href="#">Caffè Americano</a></li>
                                <li><a href="#">Caffè latte</a></li>
                                <li><a href="#">Coffee milk</a></li>
                                <li><a href="#">Café mocha</a></li>
                                <li><a href="#">Cappuccino</a></li>
                                <li><a href="#">Espresso</a></li>
                                <li><a href="#">Iced coffee</a></li>
                                <li><a href="#">Instant coffee</a></li>
                                <li><a href="#">Mocha</a></li>
                                <li><a href="#">black coffee</a></li>
                            </ul>
                        </div>
                        <img src="../content/assets/img/vertical-menu-bg.png" alt="" class="side-menu-bg" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-10 menu-product-content">
                    <!--  -->
                    <div class="product  me-0 ms-auto p-4 ">
                        <img src="../content/assets/img/menu-1.jpg" alt="product" />
                        <div class="product-text">
                            <h3 class="product-title mt-0 mb-3">Americano 1</h3>
                            <p class="product-description mb-0">Maecenas tempus, tellus eget
                                condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque. Red ipsum.
                            </p>
                        </div>
                        <div class="product-price rounded-circle">
                            <a href="#" class="product-price-link rounded-circle handwriting-font">
                                <span class="product-price-currency">$</span>
                                30
                            </a>
                        </div>
                    </div>
                    <div class="product  me-0 ms-auto p-3">
                        <img src="../content/assets/img/menu-2.jpg" alt="product" />
                        <div class="product-text">
                            <h3 class="product-title">Americano 2</h3>
                            <p class="product-description">Maecenas tempus, tellus eget
                                condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque. Red ipsum.
                            </p>
                        </div>
                        <div class="product-price rounded-circle">
                            <a href="#" class="product-price-link rounded-circle handwriting-font">
                                <span class="product-price-currency">$</span>
                                20
                            </a>
                        </div>
                    </div>
                    <div class="product  me-0 ms-auto p-3">
                        <img src="../content/assets/img/menu-3.jpg" alt="product" />
                        <div class="product-text">
                            <h3 class="product-title">Americano 3</h3>
                            <p class="product-description">Maecenas tempus, tellus eget
                                condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque. Red ipsum.
                            </p>
                        </div>
                        <div class="product-price rounded-circle">
                            <a href="#" class="product-price-link rounded-circle handwriting-font">
                                <span class="product-price-currency">$</span>
                                15
                            </a>
                        </div>
                    </div>
                    <div class="product  me-0 ms-auto p-3">
                        <img src="../content/assets/img/menu-4.jpg" alt="product" />
                        <div class="product-text">
                            <h3 class="product-title">Americano 4</h3>
                            <p class="product-description">Maecenas tempus, tellus eget
                                condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque. Red ipsum.
                            </p>
                        </div>
                        <div class="product-price rounded-circle">
                            <a href="#" class="product-price-link rounded-circle handwriting-font">
                                <span class="product-price-currency">$</span>
                                25
                            </a>
                        </div>
                    </div>
                    <div class="product  me-0 ms-auto p-3">
                        <img src="../content/assets/img/menu-5.jpg" alt="product" />
                        <div class="product-text">
                            <h3 class="product-title">Americano 5</h3>
                            <p class="product-description">Maecenas tempus, tellus eget
                                condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque. Red ipsum.
                            </p>
                        </div>
                        <div class="product-price rounded-circle">
                            <a href="#" class="product-price-link rounded-circle handwriting-font">
                                <span class="product-price-currency">$</span>
                                45
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section tag -->
    <!-- start footer -->
    <footer class="footer-about bt-5">
        <div class='footer-about__block-bg'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 footer-about__main-menu">
                        <h3 class="footer-about__title">Main Menu</h3>
                        <ul>
                            <li>
                                <a href='#'>Home</a>
                            </li>
                            <li>
                                <a href='#'>About Us</a>
                            </li>
                            <li>
                                <a href='#'>Directory</a>
                            </li>
                            <li>
                                <a href='#'>Blog</a>
                            </li>
                            <li>
                                <a href='#'>Our Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-5 footer-about__us">
                        <h3 class="footer-about__title title--text">About Us</h3>
                        <p class="mt-4">
                            Aenean leo ligula, porttitor eu, consequat vitae,
                            eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
                            tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                        <p class="mt-2">
                            Nam quam nunc, blandit vel, luctus pulvinar,
                            hendrerit id, lorem. Maecenas nec odio
                            et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 footer-about__get-social">
                        <h3 class="footer-about__title title--text">Get Social</h3>
                        <p class="mt-4">
                            Aenean leo ligula, porttitor eu, consequat vitae,
                            eleifend ac, enim. Aliquam lorem ante.
                        </p>
                        <div class="footer-about__icons__container mt-3">
                            <a hero="#" class="icons__container">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a hero="#" class="icons__container">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="  text-center small mt-4 mb-4">
                Copyright © 2084 Your Cafe House.
                Design:
                <a rel="nofollow" href="#">template mo</a>
            </p>
        </div>
    </footer>
    <!-- end footer -->
    <script src="../content/js/absteact/bootstrap.bundle.min.js"></script>
    <script src="../content/js/absteact/all.min.js"></script>
    <script src="../content/js/script.js"></script>

</body>

</html>