<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cafe House</title>
  <link rel="shortcut icon" href="../content/assets/img/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../content/style/abstract/brands.min.css" />
  <link rel="stylesheet" href="../content/style/abstract/bootstrap.min.css" />
  <link rel="stylesheet" href="../content/style/main.css" />
</head>

<body>
  <!-- start header tag -->
  <header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../content/assets/img/logo.png" alt="logo" class="d-inline-block align-top" />
          <span>Cafe House</span>
        </a>
        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./todySpecial.html">Today Special</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-header__welcome-container">
      <div class="container">
        <div class="position-relative">
          <div class="welcome-container__light-container">
            <img src="../content/assets/img/light.png" alt="light" />
            <img src="../content/assets/img/light.png" alt="light" />
            <img src="../content/assets/img/light.png" alt="light" />
          </div>

        </div>
        <div class="welcome-container__welcome-message">
          <div class="welcome-message-header d-flex justify-content-center align-items-center">
            <img src="../content/assets/img/header-line.png" alt="header" />
            <h1 class="white-text">Welcome To</h1>
            <img src="../content/assets/img/header-line.png" alt="header" />
          </div>
          <h2 class="gold-text">Cafe House</h2>
          <p>
            Cafe House template is a mobile-friendly responsive
            <span class="gold-text">Bootstrap v3.3.5</span> layout by
            <a rel="nofollow" href="#">
              <span class="gold-text">templatemo</span></a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor . Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem.
          </p>
          <a href="#" class=" btn--details gold-text btn-welcome">Details</a>
        </div>
        <div class="welcome-container__table d-flex justify-content-center">
          <img src="../content/assets/img/table-set.png" alt="table-set" />
        </div>
      </div>
    </div>
  </header>
  <!-- end header tag -->


  <!-- end section tag -->
  <script src="../content/js/absteact/bootstrap.bundle.min.js"></script>
  <script src="../content/js/absteact/brands.min.js"></script>
  <script src="../content/js/script.js"></script>
</body>

</html>