.main-section {
  form {
    .form-group {
      .form-control {
        border-color: $border-color;
        border-radius: 10px;
        font-size: 14px;

        &:focus {
          border-color: $form-focus;
          box-shadow: $form-shadow;
        }
      }

      .more-btn {
        @include btn;
        padding: 18px 42px;

        &:hover {
          color: $white-text;
        }
      }
    }
  }
}
