.main-header {
  .navbar {
    background-color: $header-bg;
    color: $header-color;
    padding-top: 10px;
    padding-bottom: 10px;

    .navbar-brand {
      span {
        font-family: "Damion";
        font-size: 30px;
        color: $header-color;
        margin: 0 7px;
      }
    }
  }

  // .collapse
  .nav-item {
    .nav-link {
      transition: all 0.3s;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      padding: 15px 15px 20px 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: $white-text;

      &.active {
        color: $header-color;
        background: url("../assets/img/logo.png") no-repeat, url("../assets/img/nav-underline.png") no-repeat;
        background-size: 20px, 74px 17px;
        background-position: 0% 30%, center bottom;
      }

      &:hover {
        color: $header-color-hover;
      }
    }
  }

  .navbar-toggler {
    color: #c79c6046;
    border-color: $gold-text;
  }

  .main-header__welcome-container {
    background-color: $header_wel-bg;
    text-align: center;

    .welcome-container__light-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      // ! @media 992px
      @include respond(medium) {
        img {
          width: 240px;
          height: auto;
        }
      }

      // ! @media 768px
      @include respond(tablet) {
        justify-content: center;

        img {
          &:nth-child(1) {
            display: none;
          }

          &:nth-child(3) {
            display: none;
          }
        }
      }
    }

    .welcome-container__welcome-message {
      padding-top: 160px;
      margin-bottom: 410px;

      // ! @media 992px
      @include respond(medium) {
        margin-bottom: 330px;
      }

      // ! @media 550px
      @include respond(tabletM) {
        margin-bottom: 205px;
      }

      // ! @media 375px
      @include respond(mobileL) {
        margin-bottom: 190px;
      }

      // ! @media 320px
      @include respond(mobileS) {
        margin-bottom: 150px;
      }

      h1 {
        font-size: 56px;
        font-family: "Damion", cursive;
        padding: 0 30px;

        // ! @media 480px
        @include respond(mobileL) {
          font-size: 35px;
        }
      }

      h2 {
        font-size: 62px;
        text-transform: uppercase;

        // ! @media 480px
        @include respond(mobileL) {
          font-size: 50px;
        }
      }

      p {
        color: $gray-text;
        text-align: justify;
        max-width: 655px;
        margin: auto;
      }

      .btn-welcome {
        @include btn;

        &.btn--details {
          padding: 13px 0;
          margin: 40px auto;
        }

        &:hover {
          color: $white-text;
        }
      }
    }

    .welcome-container__table {
      display: flex;
      position: relative;

      img {
        position: absolute;
        bottom: -102px;
        left: 0;
        right: 0;
        margin: auto;

        // ! @media 992px
        @include respond(medium) {
          bottom: -80px;
          width: 85%;
        }

        // ! @media 768px
        @include respond(tablet) {
          bottom: -8px;
          width: 100%;
        }

        // ! @media 550px
        @include respond(tabletM) {
          bottom: -50px;
        }

        // ! @media 480px
        @include respond(mobileL) {
          bottom: -42px;
        }

        // ! @media 375px
        @include respond(mobileM) {
          bottom: -38px;
        }

        // ! @media 320px
        @include respond(mobileS) {
          bottom: -33px;
        }
      }
    }
  }
}
