.menus-section {
  h2 {
    @include title;

    &::after {
      @include line-after;
    }

    img {
      vertical-align: sub;
    }
  }

  div {
    .side-menu {
      width: 240px;
      padding-top: 7px;
      position: relative;
      z-index: 1;
      text-align: center;
      text-transform: uppercase;

      // ul / li
      a {
        color: $menu-a-color;
        padding: 6.5px;
        font-size: 15px;
        display: block;
        transition: all 0.3s ease;

        &:hover {
          @include menu_a_act;
        }

        &.active {
          @include menu_a_act;
        }
      }
    }

    .side-menu-bg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .menu-product-content {
    a {
      color: $white-text;
    }

    .product {
      margin-bottom: 20px;
      cursor: pointer;
      max-width: 652px;
      display: flex;
      justify-content: space-between;

      align-items: center;
      background: $white-text;

      .product-text {
        max-width: 325px;

        .product-title {
          transition: all 0.3s ease;
        }

        .product-description {
          text-align: justify;
        }
      }

      .product-price {
        width: 100px;
        height: 100px;
        background: rgb(82, 76, 76);
        display: flex;
        align-items: center;

        justify-content: center;
        color: $white-text;
        position: relative;

        .product-price-link {
          border: 2px solid rgb(174, 174, 174);
          width: 85px;
          height: 85px;
          transition: all 0.3s ease;
          text-align: center;
          padding-top: 7px;
          font-size: 40px;

          .product-price-currency {
            font-size: 20px;
            position: absolute;
            top: 24px;
            left: 22px;
          }
        }
      }

      &:hover {
        .product-title {
          color: $gold-text;
        }

        .product-price-link {
          color: $gold-text;
          border-color: $gold-text;
          text-decoration: none;
        }
      }
    }
  }
}
