.cafe-house {
  article {
    .welcome-description {
      text-align: justify;
    }

    .more-btn {
      @include btn;
      padding: 13px 45px;
      background-position: left;
      justify-content: flex-start;

      &:hover {
        color: $white-text;
      }
    }
  }

  .cafe-house__text-end {
    text-align: end;

    // ! @media 768px
    @include respond(tablet) {
      padding-top: 20px;
      text-align: left;
    }

    .shadow-img {
      background: url("../assets/img/shadow.png") no-repeat center bottom;
      padding-bottom: 7px;

      .img-thumbnail {
        padding: 9px;
        background: $white-text;
        border: 1px solid #ddd;
        max-width: 100%;
      }
    }
  }
}
