@mixin menu_a_act {
  color: $header-color-hover !important;
  text-decoration: none;
}

@mixin btn {
  display: flex;
  justify-content: center;
  background: url("../assets/img/tm-brown-button.png") no-repeat;
  background-position: center;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s;
  align-items: center;
}


@mixin line-after {
  content: '';
  background: $gold-text;
  width: 73%;
  height: 1px;
  position: absolute;
  bottom: 15px;
  right: 0;
}