$body-bg: #fff;
$body-color: #333;

$link-header-color: #fff;
$header-bg: #000000;
$header_wel-bg: #282726;
$header-color: #c79c60;
$header-color-hover: #c79c60;

$section-bg: #e4e4e4;
$link-a-color: #c79c60;
$menu-a-color: #7e6a51;
$border-color: #c79c60;

$gold-text: #c79c60;
$white-text: #fff;
$green-text: #30a430;
$blue-text: #0066cc;
$gray-text: #949494;
$grn-text: #aeaeae;

$form-focus: rgb(136, 93, 33);
$form-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
0 0 8px rgba(199, 156, 96, 0.6);