/* Font-Family Damion */
@font-face {
  font-family: "Damion";
  src: url("../fonts/Damion/Damion.eot");
  src: url("../fonts/Damion/Damion.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Damion/Damion.woff2") format("woff2"),
    url("../fonts/Damion/Damion.woff") format("woff"),
    url("../fonts/Damion/Damion.ttf") format("truetype"),
    url("../fonts/Damion/Damion.svg#svgFontName") format("svg");
}

/* Font-Family OpenSans-Regular */
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.svg#svgFontName")
      format("svg");
}

/* start generic style */

:root {
  --body-bg: #fff;
  --body-color: #333;
  --link-header-color: #fff;
  --header-bg: #000000;
  --header-color: #c79c60;
  --header-color-hover: #c79c60;
  --section-bg: #e4e4e4;
  --link-a-color: #c79c60;
  --menu-a-color: #7e6a51;
  --border-color: #c79c60;
  --gold-text: #c79c60;
  --width-text: #fff;
  --green-text: #30a430;
  --blue-text: #0066cc;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42;
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-header-color);
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  max-width: 960px;
}

.light-gr-bg {
  background-color: var(--section-bg);
}

.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pt-170 {
  padding-top: 170px;
}
.pb-60 {
  padding-bottom: 60px;
}
.handwriting-font {
  font-family: "Damion";
}

.gold-color {
  color: var(--gold-text);
}

.blue-text {
  color: var(--blue-text);
}
.green-text {
  color: var(--green-text);
}

/* end generic style */

/* start header style */

.navbar-dark .navbar-toggler {
  color: #c79c6046;
  border-color: var(--gold-text);
}

.main-header .navbar {
  background-color: var(--header-bg);
  color: var(--header-color);
}

.main-header .navbar .navbar-brand span {
  font-family: "Damion";
  font-size: 30px;
  color: var(--header-color);
  margin: 0 7px;
}

.main-header .navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.3s;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 15px 15px 20px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-header .navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--header-color);
  background: url("../assets/img/logo.png") no-repeat,
    url("../assets/img/nav-underline.png") no-repeat;
  background-size: 20px, 74px 17px;
  background-position: 0% 30%, center bottom;
}

.main-header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--header-color-hover);
}

/* end header style */

/* ----------------------

  start style menu.html

----------------------*/

/* start section style */
.main-section .main-section article .welcome-description {
  text-align: justify;
}

.main-section article .more-btn {
  display: flex;
  justify-content: center;
  background: url("../assets/img/tm-brown-button.png") no-repeat;
  width: 198px;
  height: 48px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-align-items: center;
  align-items: center;
}
.main-section article .more-btn:hover {
  color: var(--width-text);
}

.main-section article .shadow-img {
  background: url("../assets/img/shadow.png") no-repeat center bottom;
  padding-bottom: 7px;
}

.main-section article .shadow-img .img-thumbnail {
  padding: 9px;
  background: var(--width-text);
  border: 1px solid #ddd;
  max-width: 100%;
}
/* end section style */

/* start menus section style */
.menus-section .menu-section-title .menu-title {
  width: 350px;
}
.menus-section .menu-section-title {
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}
.menus-section .menu-section-title .line-container {
  background: var(--gold-text);
  width: 100%;
  height: 1.5px;
  position: relative;
  bottom: 18px;
  right: 0;
}

.menus-section div .side-menu {
  width: 240px;
  padding-top: 7px;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
}

.menus-section div .side-menu li a {
  color: var(--menu-a-color);
  padding: 6.5px;
  font-size: 15px;
  display: block;
  transition: all 0.3s ease;
}

.side-menu li a:hover,
.side-menu li a.active {
  color: var(--header-color-hover) !important;
  text-decoration: none;
}

.menus-section div .side-menu-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.menus-section .menu-product-content .product {
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 652px;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background: var(--width-text);
}

.menus-section .menu-product-content .product .product-text {
  max-width: 325px;
}
.menus-section .menu-product-content .product .product-text .product-title {
  transition: all 0.3s ease;
}

.menus-section
  .menu-product-content
  .product
  .product-text
  .product-description {
  text-align: justify;
}

.menus-section .menu-product-content .product .product-price {
  width: 100px;
  height: 100px;
  background: rgb(82, 76, 76);
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  color: var(--width-text);
  position: relative;
}
.menus-section
  .menu-product-content
  .product
  .product-price
  .product-price-link {
  border: 2px solid rgb(174, 174, 174);
  width: 85px;
  height: 85px;
  transition: all 0.3s ease;
  text-align: center;
  padding-top: 7px;
  font-size: 40px;
}

.menus-section
  .menu-product-content
  .product
  .product-price
  .product-price-link
  .product-price-currency {
  font-size: 20px;
  position: absolute;
  top: 24px;
  left: 22px;
}

.product:hover .product-title {
  color: var(--gold-text);
}
.product:hover .product-price-link {
  color: var(--gold-text);
  border-color: var(--gold-text);
  text-decoration: none;
}

/* end menus section style */

/* ----------------------

  end style menu.html

----------------------*/

/* ----------------------

  start style contact.html

----------------------*/
/* start section style */

.main-section article form .form-group .form-control {
  border-color: var(--border-color);
  border-radius: 10px;
  font-size: 14px;
}
.main-section article form .form-group .form-control:focus {
  border-color: rgba(136, 93, 33);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(199, 156, 96, 0.6);
}

/* end section style */

/* ----------------------

  end style contact.html

----------------------*/
