/* start generic style */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42;
  background-color: $body-bg;
  color: $body-color;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
}

.light-gr-bg {
  background-color: $section-bg;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-170 {
  padding-top: 170px;
}

.pb-60 {
  padding-bottom: 60px;
}

.handwriting-font {
  font-family: "Damion";
}

.gold-text {
  color: $gold-text;
}

.blue-text {
  color: $blue-text;
}

.green-text {
  color: $green-text;
}

.white-text {
  color: $white-text;
}

.navbar-collapse {
  width: 23%;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.699);
  padding: 20px;
  display: block;

  @media (min-width: 992px) {
    width: 50%;
    position: relative;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
  }

  // ! @media 768px
  @include respond(tablet) {
    width: 32%;
  }

  // ! @media 550px
  @include respond(tabletM) {
    width: 40%;
  }

  // ! @media 480px
  @include respond(mobileL) {
    width: 51%;
  }

  // ! @media 375px
  @include respond(mobileM) {
    width: 58%;
  }

  // ! @media 320px
  @include respond(mobileS) {
    width: 70%;
  }
}

/* end generic style */
