/* Font-Family Damion */
@font-face {
  font-family: "Damion";
  src: url("../fonts/Damion/Damion.eot");
  src: url("../fonts/Damion/Damion.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Damion/Damion.woff2") format("woff2"),
    url("../fonts/Damion/Damion.woff") format("woff"),
    url("../fonts/Damion/Damion.ttf") format("truetype"),
    url("../fonts/Damion/Damion.svg#svgFontName") format("svg");
}

/* Font-Family OpenSans-Regular */
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.svg#svgFontName") format("svg");
}